%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    %br/
    = f.email_field :name, autofocus: true, placeholder: 'Enter your name', required: true
  .field
    = f.label :name
    %br/
    = f.email_field :surname, placeholder: 'Enter your surname', required: true
  .field
    = f.label :email
    %br/
    = f.email_field :emailplaceholder: 'Enter your e-mail', required: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off", placeholder: 'Enter your password', required: true
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm your password', required: true
  .actions
    = f.submit "Sign up", class: 'button radius success'
    = link_to 'Back', books_path, class: 'button radius'
= render "devise/shared/links"
