/ .body
/ .grad
/ .header
/   %div
/     Loja Virtual
/     %span FEPB
/ %br/
/ .login
/   %input{:name => "user", :placeholder => "username", :type => "text"}/
/   %br/
/   %input{:name => "password", :placeholder => "password", :type => "password"}/
/   %br/
/   %input{:type => "button", :value => "Login"}/
/ %script{:src => "http://codepen.io/assets/libs/fullpage/jquery.js"}
.row
  .columns.large-12
    %h2{style: "text-align: center;"}= t('views.application.auth.sign_in')
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row
        .columns.large-6.large-centered
          .field
            = f.label t('models.user.email')
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label t('models.user.password')
            %br/
            = f.password_field :password, autocomplete: "off"
      - if devise_mapping.rememberable?
        .row
          .columns.large-6.large-centered
            = f.check_box :remember_me, style: 'display: inline;'
            = f.label t('views.application.auth.remember_password'), '', style: 'display: inline;'
      .row
        .columns.large-6.large-centered
          .actions
            %br/
            = f.submit t('views.application.auth.sign_in'), class: 'button radius success'
          = link_to t('views.application.back'), root_path, class: 'button radius'
          = render "devise/shared/links"