= form_for(@user, html: {multipart: true}) do |f|
  - if @user.errors.any?
    .row
      .columns.large-12.large-centered.text-center
        #error_explanation
          %h2
            = pluralize(@user.errors.count, "erro")
            impediu que este usuário fosse criado:
          %ul
            - @user.errors.full_messages.each do |message|
              %li
                .alert-box.alert{"data-alert" => ""}
                  = message
                  %a.close{href: "#"} &times;
  .row
    .columns.large-12.large-centered.text-center
      = image_tag(@user.avatar_url, size: "200", style: 'margin-bottom: 10px;') if @user.avatar
  .row
    .columns.large-3
      .field
        = f.label t('models.user.name')
        %br
        = f.text_field :name, required: true
    .columns.large-5
      .field
        = f.label t('models.user.surname')
        %br
        = f.text_field :surname
    .columns.large-4
      .field
        = f.label t('models.user.email')
        %br
        = f.email_field :email, required: true
  .row
    .columns.large-4
      .field
        = f.label t('models.user.password')
        %br
        = f.password_field :password
    .columns.large-4
      .field
        = f.label t('models.user.password_confirmation')
        %br
        = f.password_field :password_confirmation
  .row
    .columns.large-4
      .field
        = f.label t('models.user.cpf')
        %br
        = f.text_field :cpf
    .columns.large-4
      .field
        = f.label t('models.user.phone1')
        %br
        = f.telephone_field :phone1
    .columns.large-4
      .field
        = f.label t('models.user.phone2')
        %br
        = f.telephone_field :phone2
  .row
    .columns.large-3
      .field
        = f.label t('models.user.street')
        %br
        = f.text_field :street
    .columns.large-3
      .field
        = f.label t('models.user.street_number')
        %br
        = f.number_field :street_number
    .columns.large-3
      .field
        = f.label t('models.user.street_complement')
        %br
        = f.text_field :street_complement
    .columns.large-3
      .field
        = f.label t('models.user.cep')
        %br
        = f.text_field :cep
  .row  
    .columns.large-12
      .field
        = f.label :avatar
        = f.file_field :avatar, class: 'file-input'
        / = f.hidden_field :product_image_cache  
  = f.hidden_field :admin, value: true
  %br
  .row
    .columns.large-12.large-centered.text-center
      .actions
        = f.submit class: 'button success radius'
        = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'