.row
  .columns.large-12.text-center
    %h2{style: "text-align: center;"}= t('models.user.my_account')
    = image_tag(@user.avatar_url, size: "200", style: 'margin-bottom: 10px;') if @user.avatar

.row
  .columns.large-6
    %p
      %strong= "#{t('models.user.name')}:"
      = @user.name
    %p
      %strong= "#{t('models.user.surname')}:"
      = @user.surname
    %p
      %strong= "#{t('models.user.email')}:"
      = @user.email
    %p
      %strong= "#{t('models.user.cpf')}:"
      = @user.cpf
    %p
      %strong= "#{t('models.user.phone1')}:"
      = @user.phone1
    %p
      %strong= "#{t('models.user.phone2')}:"
      = @user.phone2
  .columns.large-6
    %p
      %strong= "#{t('models.user.city')}:"
      = @user.city
    %p
      %strong= "#{t('models.user.state')}:"
      = @user.state
    %p
      %strong= "#{t('models.user.cep')}:"
      = @user.cep
    %p
      %strong= "#{t('models.user.street')}:"
      = @user.street
    %p
      %strong= "#{t('models.user.street_number')}:"
      = @user.street_number
    %p
      %strong= "#{t('models.user.street_complement')}:"
      = @user.street_complement
%br
.row
  .columns.large-12.large-centered.text-center
    = link_to t('views.application.edit'), edit_user_path(@user.id), class: 'button radius' if @user
    = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'