.row
  .columns.large-12.text-center
    %h2{style: "text-align: center;"}= @user.admin == true ? 'My profile (Admin)' : 'My profile'
    = image_tag(@user.avatar_url, size: "200", style: 'margin-bottom: 10px;') if @user.avatar

.row
  .columns.large-6
    %p
      %strong Name:
      = @user.name
    %p
      %strong Name:
      = @user.surname
    %p
      %strong Email:
      = @user.email
    %p
      %strong CPF:
      = @user.cpf
    %p
      %strong Phone 1:
      = @user.phone1
    %p
      %strong Phone 2:
      = @user.phone2
  .columns.large-6
    %p
      %strong City:
      = @user.city
    %p
      %strong State:
      = @user.state
    %p
      %strong CEP:
      = @user.cep
    %p
      %strong Street:
      = @user.street
    %p
      %strong Street number:
      = @user.street_number
    %p
      %strong Street complement:
      = @user.street_complement
      
= link_to t('views.application.edit'), edit_user_path(@user.id), class: 'button radius' if @user
= link_to t('views.application.back'), root_path, class: 'button radius'