.row
  .columns.large-12.text-center
    %div#paginate= paginate @tickets
    %div#page_entries_info= page_entries_info @tickets
%br
  .row
    .columns.large-12.large-centered.text-center
      =link_to t('views.application.new'), new_ticket_path, class: 'button success radius' if current_user and current_user.admin
%table
  %thead
    %tr
      %th
      %th= t('models.product.title')
      %th= t('models.product.buy_price')
      %th= t('models.product.sell_price')
      %th= t('models.product.year')
      %th
      %th
      %th
  %tbody
    -@tickets.each do |ticket|
      %tr
        %td= ticket.product_image ? image_tag(ticket.product_image_url, size: "100") : ''
        %td= ticket.title
        %td= number_to_currency ticket.sell_price
        %td= number_to_currency ticket.buy_price
        %td= ticket.year
        / %td= link_to t('views.application.show'), ticket, class: 'button radius'
        / %td= link_to t('views.application.edit'), edit_ticket_path(ticket), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, ticket, class: 'button radius'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_ticket_path(ticket), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-trash"></i>'.html_safe, ticket, class: 'button alert radius', method: :delete, data: { confirm: 'Are you sure?' } if current_user and current_user.admin

%br

=link_to t('views.application.new'), new_ticket_path, class: 'button success radius' if current_user and current_user.admin