= form_for(@book, html: {multipart: true}) do |f|
  - if @book.errors.any?
    .row
      .columns.large-12
        #error_explanation
          %h2
            = pluralize(@book.errors.count, "error")
            prohibited this book from being saved:
          %ul
            - @book.errors.full_messages.each do |message|
              %li
                .alert-box.alert{"data-alert" => ""}
                  = message
                  %a.close{href: "#"} &times;
  .row
    .columns.large-12.large-centered.text-center
      = image_tag(@book.product_image_url, size: "200", class: 'product-thumb') if @book.product_image
  .row
    .columns.large-3
      .field
        = f.label t('models.book.isbn')
        = f.text_field :isbn
    .columns.large-5
      .field
        = f.label t('models.product.title')
        = f.text_field :title
    .columns.large-4
      .field
        = f.label t('models.book.author')
        = f.text_field :author
  .row
    .columns.large-6
      .field
        = f.label t('models.book.spiritual_author')
        = f.text_field :spiritual_author
    .columns.large-6
      .field
        = f.label t('models.book.publisher')
        = f.text_field :publisher
  .row
    .columns.large-2
      .field
        = f.label t('models.product.sell_price')
        = f.text_field :sell_price, {class: 'price_field'}
    .columns.large-2
      .field
        = f.label t('models.product.buy_price')
        = f.text_field :buy_price, {class: 'price_field'}
    .columns.large-6
      .field
        = f.label t('models.product.image')
        = f.file_field :product_image, class: 'file-input'
        / = f.hidden_field :product_image_cache
  .row
    .columns.large-2
      .field
        = f.label t('models.product.quantity')
        = f.number_field :quantity, class: 'file-input'
    .columns.large-2
      .field
        = f.label t('models.product.year')
        = f.number_field :year
    .columns.large-2
      .field
        = f.label t('models.book.pages_number')
        = f.number_field :pages_number, min: 1
  .row
    .columns.large-12
      .field
        = f.label t('models.book.synopisis')
        = f.text_area :synopisis, rows: 10
  .row
    .columns.large-12.text-center
      .actions
        = f.submit class: 'button success radius'
        = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'
