%div#paginate= paginate @books
%div#page_entries_info= page_entries_info @books

%table
  %thead
    %tr
      %th
      %th= t('models.book.isbn')
      %th= t('models.product.title')
      %th= t('models.book.author')
      %th= t('models.book.spiritual_author')
      %th= t('models.book.publisher')
      %th= t('models.product.buy_price')
      %th= t('models.product.sell_price')
      %th= t('models.book.year')
      %th= t('models.book.pages_number')
      %th
      %th
      %th
  %tbody
    -@books.each do |book|
      %tr
        %td= book.product_image ? image_tag(book.product_image_url, size: "100") : ''
        %td= book.isbn
        %td= book.title
        %td= book.author
        %td= book.spiritual_author
        %td= book.publisher
        %td= number_to_currency book.sell_price
        %td= number_to_currency book.buy_price
        %td= book.year
        %td= book.pages_number
        / %td= link_to t('views.application.show'), book, class: 'button radius'
        / %td= link_to t('views.application.edit'), edit_book_path(book), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, book, class: 'button radius'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_book_path(book), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-trash"></i>'.html_safe, book, class: 'button alert radius', method: :delete, data: { confirm: 'Are you sure?' } if current_user and current_user.admin

%br

=link_to t('views.application.new'), new_book_path, class: 'button success radius' if current_user and current_user.admin