%div#paginate= paginate @shirts
%div#page_entries_info= page_entries_info @shirts

%table
  %thead
    %tr
      %th
      %th= t('models.product.title')
      %th= t('models.product.buy_price')
      %th= t('models.product.sell_price')
      %th= t('models.product.year')
      %th
      %th
      %th
  %tbody
    -@shirts.each do |shirt|
      %tr
        %td= shirt.product_image ? image_tag(shirt.product_image_url, size: "100") : ''
        %td= shirt.publisher
        %td= number_to_currency shirt.sell_price
        %td= number_to_currency shirt.buy_price
        %td= shirt.year
        / %td= link_to t('views.application.show'), shirt, class: 'button radius'
        / %td= link_to t('views.application.edit'), edit_shirt_path(shirt), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, shirt, class: 'button radius'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_shirt_path(shirt), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-trash"></i>'.html_safe, shirt, class: 'button alert radius', method: :delete, data: { confirm: 'Are you sure?' } if current_user and current_user.admin

%br

=link_to t('views.application.new'), new_shirt_path, class: 'button success radius' if current_user and current_user.admin