= form_for(@dvd, html: {multipart: true}) do |f|
  - if @dvd.errors.any?
    #error_explanation
      %h2
        = pluralize(@dvd.errors.count, "error")
        prohibited this dvd from being saved:
      %ul
        - @dvd.errors.full_messages.each do |message|
          %li= message
  .row
    .columns.large-4
      = image_tag(@dvd.product_image_url, size: "200", class: 'product-thumb') if @dvd.product_image
      .field
        = f.label t('models.product.image')
        = f.file_field :product_image, class: 'file-input'
        / = f.hidden_field :product_image_cache
    .columns.large-8
      .field
        = f.label t('models.product.title')
        = f.text_field :title
      .field
        = f.label t('models.product.sell_price')
        = f.text_field :sell_price, {class: 'price_field'}
      .field
        = f.label t('models.product.buy_price')
        = f.text_field :buy_price, {class: 'price_field'}
      .field
        = f.label t('models.product.year')
        = f.number_field :year, min: 1950
  .row
    .columns.large-12.text-center
      .actions
        = f.submit class: 'button success radius'
        = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'
