%div#paginate= paginate @dvds
%div#page_entries_info= page_entries_info @dvds

%table
  %thead
    %tr
      %th
      %th= t('models.product.title')
      %th= t('models.dvd.publisher')
      %th= t('models.product.buy_price')
      %th= t('models.product.sell_price')
      %th= t('models.product.year')
      %th
      %th
      %th
  %tbody
    -@dvds.each do |dvd|
      %tr
        %td= dvd.product_image ? image_tag(dvd.product_image_url, size: "100") : ''
        %td= dvd.title
        %td= dvd.publisher
        %td= number_to_currency dvd.sell_price
        %td= number_to_currency dvd.buy_price
        %td= dvd.year
        / %td= link_to t('views.application.show'), dvd, class: 'button radius'
        / %td= link_to t('views.application.edit'), edit_dvd_path(dvd), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, dvd, class: 'button radius'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_dvd_path(dvd), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-trash"></i>'.html_safe, dvd, class: 'button alert radius', method: :delete, data: { confirm: 'Are you sure?' } if current_user and current_user.admin

%br

=link_to t('views.application.new'), new_dvd_path, class: 'button success radius' if current_user and current_user.admin