.row
  .columns.large-12
    %h2{style: "text-align: center;"}
      %strong= @dvd.title
.row
  .columns.large-4
    = image_tag(@dvd.product_image_url, size: "200", class: 'product-thumb') if @dvd.product_image
  .columns.large-8
    %br
    %p
      %strong= "#{t('models.product.isbn')}:"
      = @dvd.isbn
    %p
      %strong= "#{t('models.dvd.publisher')}:"
      = @dvd.publisher
    %p
      %strong= "#{t('models.product.sell_price')}:"
      = number_to_currency @dvd.sell_price
    %p
      %strong= "#{t('models.product.buy_price')}:"
      = number_to_currency @dvd.buy_price
    %p
      %strong= "#{t('models.product.year')}:"
      = @dvd.year
    %p
      %strong= "#{t('models.product.quantity')}:"
      = @dvd.quantity
.row
  .columns.large-12.text-center
    = link_to t('views.application.edit'), edit_dvd_path(@dvd.id), class: 'button radius'
    = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'
