%nav.top-bar{"data-topbar" => true, role: "navigation"}
  %ul.title-area
    %li.name
      %h1= link_to t('views.application.name'), root_path
    /Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span= t('generic.menu')
  %section.top-bar-section
    / Left Nav Section
    - if current_user.present? and current_user.admin
      %ul.left
        %li.has-dropdown.not-click
          %a{href: "#" }= t('generic.menu')
          %ul.dropdown
            %li
              %a= link_to t('views.application.manage_users'), users_path
            %li
              %a= link_to t('activerecord.models.product.other'), products_path
            %li
              %a= link_to t('activerecord.models.book.other'), books_path
            %li
              %a= link_to t('activerecord.models.shirt.other'), shirts_path
            %li
              %a= link_to t('activerecord.models.cd.other'), cds_path
            %li
              %a= link_to t('activerecord.models.dvd.other'), dvds_path
            %li
              %a= link_to t('activerecord.models.ticket.other'), tickets_path
            %li
              %a= link_to t('views.sale.history'), sales_path
    / Right Nav Section
    %ul.right
      / - if !current_user.present?        
      /   %li            
      /     %a{href: '#'}= current_user.present? ? current_user.name : t('views.application.auth.hello_guest')
      /   %li.active
      /     %a= link_to t('views.application.auth.sign_in'), new_user_session_path
      /   %li.active
      /     %a= link_to t('views.application.auth.sign_up'), new_user_registration_path
      / - else
      %li.sale-info
        = render 'layouts/sale_text'
      %li
        = link_to user_path(current_user), class: 'my-account-link' do
          = t('views.user.my_profile')
          = image_tag(current_user.avatar_url, class: 'thumbnail', ) if current_user.avatar.url
      %li
        %a= link_to t('views.application.auth.sign_out'), destroy_user_session_path, method: 'delete'
      / %li.has-dropdown
      /   %a{href: "#" }= "Hi, #{current_user.name}"
      /   %ul.dropdown
      /     %li                
      /       %a= link_to 'My profile', user_path(current_user.id)
      /     %li.active
      /       %a= link_to 'Logout', destroy_user_session_path, method: 'delete'