.row
  .columns.large-12.text-center
    %div#paginate= paginate @products
    %div#page_entries_info= page_entries_info @products
.row
  -@products.each do |product|
    .columns.large-3.end
      .product-box.text-center
        .product-thumb-container
          = link_to product.product_image ? image_tag(product.product_image_url) : '', url_for(product)
        .product-title
          = product.title
        .product-sell-price
          = number_to_currency product.sell_price
        .product-cart
          = form_for @sale_item, remote: true do |f|
            = f.number_field :product_quantity, disabled: product.quantity == 0, value: 1, min: 1, class: 'number-field'
            = f.hidden_field :product_id, value: product.id
            = f.button type: "submit", disabled: product.quantity == 0, title: (t('views.product.empty') if product.quantity == 0), class: "button radius small" do
              %i.fi-shopping-cart
