.row
  .columns.large-12.text-center
    %div#search_products
      = form_for(products_path, method: 'get', id: 'products_search_by_title') do
        = select_tag("product_type", options_for_select(product_select_tag_types, @selected_product_type), style: 'display: inline; width: 150px')
        = text_field_tag :search_param, params[:search_param], placeholder: t('views.product.search'), style: 'display: inline; width: 400px'
        = submit_tag t('generic.search'), class: 'button radius', style: 'display: inline'
.row
  .columns.large-12.text-center
    %div#paginate= paginate @products
    %div#page_entries_info= page_entries_info @products
.row
  -@products.each do |product|
    .columns.large-3.end
      .product-box.text-center
        .product-thumb-container
          = link_to product.product_image ? image_tag(product.product_image_url) : '', url_for(product)
        %div{class: "product-title has-tip", "aria-haspopup" => "true", "data-tooltip" => true, title: product.title}
          = product.title
        .product-sell-price
          = number_to_currency product.sell_price
        - if current_user.present? && current_user.admin
          .product-cart
            = form_for @sale_item, remote: true do |f|
              = f.number_field :product_quantity, disabled: quantity_disabled_for?(product), value: 1, min: 1, class: 'cart-number-field'
              = f.hidden_field :product_id, value: product.id
              = f.button type: "submit", disabled: quantity_disabled_for?(product), title: (t('views.product.empty') if product.quantity == 0), class: "radius tiny button" do
                %i.fi-shopping-cart
