.row
  .columns.large-12.text-center
    %div#paginate= paginate @products
    %div#page_entries_info= page_entries_info @products

- if current_user and current_user.admin
  %br
  .row#new_product_select
    .columns.large-12.large-centered.text-center
      =select_tag(:product, options_for_select(product_select_type_path), {onchange: "set_path_for_new_btn()", style: 'width: 150px;'})
      =link_to t('views.application.new'), '#', id: "product_link_to", class: 'button success radius' if current_user and current_user.admin
%table.responsive
  %thead
    %tr
      %th= t('models.product.type')
      %th
      %th= t('models.product.title')
      %th= t('models.product.buy_price')
      %th= t('models.product.sell_price')
      %th
      %th
      %th
      %th
  %tbody
    -@products.each do |product|
      %tr
        %td= product.type
        %td= product.product_image ? image_tag(product.product_image_url, size: "80") : ''
        %td= product.title
        %td= number_to_currency product.sell_price
        %td= number_to_currency product.buy_price
        %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, url_for(product), class: 'button radius'
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_polymorphic_path(product), class: 'button radius' if current_user and current_user.admin
        %td= link_to '<i class="fi-trash"></i>'.html_safe, polymorphic_path(product, method: 'delete'), class: 'button alert radius', method: :delete, data: { confirm: 'Are you sure?' } if current_user and current_user.admin
        / %td= link_to '<i class="fi-shopping-cart"></i>'.html_safe, add_item_path(product.id, 1), class: 'button radius', method: :get if current_user and current_user.admin
        
        = form_for @sale_item, remote: true do |f|
          %td
            = f.number_field :product_quantity, value: 1, class: "number-field"
            = f.button type: "submit", class: "button radius" do 
              %i.fi-shopping-cart
            = f.hidden_field :product_id, value: product.id
/"edit_#{product.class.to_s.downcase}_path(#{product.id})"