.row.sale-row.sale-header
  .columns.small-8.large-12
    %h4= t('views.sale.my_sales')
%br/    
.row
  .columns.small-8.large-12
    - if @sale_item.present? && @sale_item.errors.any?
      .alert.alert-danger
        %ul
          - @sale_item.errors.full_messages.each do |msg|
            %li= msg
    - if @sale_items.size.zero?
      %p
        = t('views.sale.empty_sale_title')
        = t('views.sale.empty_sale')
      = link_to t('views.sale.continue_shopping'), root_path, class: 'button radius'
    - else
      .row.sale-row.sale-header
        .columns.small-8.large-3
          = t('activerecord.models.product.other')
        .columns.small-8.large-3
          = t('generic.title')
        .columns.small-8.large-3
          = t('models.sale.quantity')
        .columns.small-8.large-3
          = t('models.sale.unit_price')
      - @sale_items.each do |sale_item|
        = render 'sales/sale_row', sale_item: sale_item, show_total: true
      .row.sale-row.sale-header        
        .columns.small-8.large-12
          %h5.text-right
            = t('models.sale.total_price')
            %span{style: "color: green"}= number_to_currency current_sale.total_price
      %br/
      .row
        .columns.small-8.large-12.text-center
          = link_to t('views.sale.cancel_sale'), @sale, method: :delete, data: { confirm: t('views.application.are_you_sure') }, class: 'button radius secondary'
          = link_to t('views.sale.continue_shopping'), root_path, class: 'button radius'
          = link_to t('views.sale.register_sale'), '', class: 'button radius alert', data: {"reveal-id" => "finalize_sale_modal"}

%div#finalize_sale_modal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "finalize_sale_modal_title", "data-reveal" => true, :role => "dialog"}
  = render 'sales/finalize_sale_modal'
  %a.close-reveal-modal{"aria-label" => "Close"} ×