.row
  %h2.text-center= t('views.sale.history')
  .columns.large-12.text-center
    %div#paginate= paginate @sales
    %div#page_entries_info= page_entries_info @sales
%br
%table.responsive
  %thead
    %tr
      %th= t('models.sale.id')
      %th= t('models.sale.items_number')
      %th= t('models.sale.buyer_name')
      %th= t('models.sale.total')
      %th= t('models.sale.status.label')
      %th= t('views.sale.updated_at')
      %th
      %th
  %tbody
    -@sales.each do |sale|
      %tr
        %td.text-right= sale.id
        %td.text-right= sale.sale_items.length
        %td= sale.buyer_name
        %td= number_to_currency sale.total
        %td= t("models.sale.status.#{sale.status}")
        %td= l sale.updated_at
        / %td= link_to '<i class="fi-magnifying-glass"></i>'.html_safe, sale, class: 'button radius'
        / %td= link_to '<i class="fi-trash"></i>'.html_safe, @sale, class: 'button alert radius', method: :delete, data: { confirm: t('views.application.are_you_sure') } if current_user and current_user.admin