!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title= content_for?(:title) ? yield(:title) : t('app_name')

    = stylesheet_link_tag    "application"    
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{id: "#{params[:controller].parameterize}_controller"}
    %nav.top-bar{"data-topbar" => true, role: "navigation"}
      %ul.title-area
        %li.name
          %h1= link_to t('app_name'), books_path
        /Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu      
      %section.top-bar-section
        / Left Nav Section
        %ul.left
          %li
            - if current_user.present?
              %a{href: "#" }= current_user.email
          %li
            - if current_user.present?
              %a= link_to 'Manage users', users_path
        / Right Nav Section
        %ul.right
          - if !current_user.present?
            %li            
              %a{href: '#'}= current_user.present? ? current_user.name : 'Hi, visitant'
          - if !current_user.present?
            %li.active
              %a= link_to 'Login', new_user_session_path
          - if !current_user.present?
            %li.active
              %a= link_to 'Sign up', new_user_registration_path          
          - else
            %li                
              %a= link_to 'My profile', user_path(current_user.id)
            %li.active
              %a= link_to 'Logout', destroy_user_session_path, method: 'delete'
            / %li.has-dropdown
            /   %a{href: "#" }= "Hi, #{current_user.name}"
            /   %ul.dropdown
            /     %li                
            /       %a= link_to 'My profile', user_path(current_user.id)
            /     %li.active
            /       %a= link_to 'Logout', destroy_user_session_path, method: 'delete'
    .row{'style' => 'margin-top: 10px;'}
      .large-12.large-centered
        - flash.each do |key, message|
          - if message.is_a?(String) && message.present?
            #messages.alert-box.success.radius.columns.small-12.small-centered{'data-alert' => '', class: key}
              = simple_format(message)
              %a.close{href: '#'} &times;
        / = form_tag('/notice_custom', method: 'get') do
        /   = submit_tag 'SUCCESS', class: 'button success'
        / = form_tag('/error_custom', method: 'get') do
        /   = submit_tag 'ERROR', class: 'button error'
        /- flash.each do |name, msg|
        /  %div "#{name}: #{msg}"    
        / - if flash[:success]
        /   #messages.alert-box.success.radius.columns.small-12.small-centered{'data-alert' => ''}
        /     = flash[:success]
        /     %a.close{href: '#'} &times;
        / - if flash[:info]
        /   #messages.alert-box.info.radius.columns.small-12.small-centered{'data-alert' => ''}
        /     = flash[:info]
        /     %a.close{href: '#'} &times;
        / - if flash[:alert]
        /   #messages.alert-box.alert.radius.columns.small-12.small-centered{'data-alert' => ''}
        /     = flash[:alert]
        /     %a.close{href: '#'} &times;
        / - if flash[:error]
        /   #messages.alert-box.warning.radius.columns.small-12.small-centered{'data-alert' => ''}
        /     = flash[:error]
        /     %a.close{href: '#'} &times;
        = yield