!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title= content_for?(:title) ? yield(:title) : t('views.application.name')

    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = javascript_include_tag "modernizr"

  %body{id: "#{params[:controller].parameterize}_controller"}
    = render 'topbar'
    = render 'messages'
    = yield
    = render 'footer'
