!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title= content_for?(:title) ? yield(:title) : t('views.application.name')

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body{id: "#{params[:controller].parameterize}_controller"}
    .bg-img &nbsp
    .row
      .columns.large-6.large-centered.login-container
        #login-title
          %span.fepb-label= t('views.application.fepb')
          %br/
          %br/
          %span.virtual-store-label= t('views.application.virtual_store')
        .login
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|          
            .row
              .columns.large-12.large-centered
                = f.email_field :email, placeholder: t('models.user.email'), autofocus: true
                = f.password_field :password, placeholder: t('models.user.password'), autocomplete: "off"
            .row
              .columns.large-12.large-centered
                - if devise_mapping.rememberable?
                  = f.check_box :remember_me, class: 'remember-password'
                  = f.label t('views.application.auth.remember_password'), '', class: 'remember-password-label'
                = link_to t('views.application.auth.forgot_password'), new_password_path(resource_name), style: 'display: inline; float: right; color: #000; font-size: 14px;'
            .row{style: 'margin-top: 50px;'}
              .columns.large-12.large-centered
                = f.submit t('views.application.auth.sign_in'), class: 'button radius', style: 'width: 100%;'
                / = render "devise/shared/links"
        = render 'messages'

