!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title= content_for?(:title) ? yield(:title) : t('views.application.name')

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body{id: "#{params[:controller].parameterize}_controller"}
    .large-3.large-centered.columns
      .login-box
        .row
          .large-12.columns
            %form
              .row
                .large-12.columns
                  %input{:name => "username", :placeholder => "Username", :type => "text"}/
              .row
                .large-12.columns
                  %input{:name => "password", :placeholder => "Password", :type => "password"}/
              .row
                .large-12.large-centered.columns
                  %input.button.expand{:type => "submit", :value => "Log In"}/