.row
  .columns.large-6.large-offset-3.text-center
    %h2= t('views.user.change_password')

    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label t('models.user.password')
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label t('models.user.password_confirmation')
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        = f.label t('views.user.current_password')
        %i= "(#{t('views.user.current_password_explanation')})"
        %br/
        = f.password_field :current_password, autocomplete: "off"
      .row
        .columns.large-12.large-centered.text-center
          .actions
            = f.submit class: 'button success radius'
            -# = link_to t('views.user.cancel_account'), registration_path(current_user), data: { confirm: t('views.application.are_you_sure') }, method: :delete}
            = link_to t('views.application.back'), 'javascript:history.go(-1);', class: 'button radius'
